@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-lime-400: #D4F63D;
  --color-lime-500: #Bce600;

  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

/* Base Styles */
@layer base {
  body {
    @apply antialiased text-black bg-white;
    margin: 0;
    overflow-x: hidden;
  }
}